
[Application]
name=Dakje
version=beta_02
publisher=Esukhia
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=Dakje:main
icon=icons\dakje.ico

[Python]
version=3.6.0

[Include]
# Packages from PyPI that your application requires, one per line
# These must have wheels on PyPI:

pypi_wheels = appdirs==1.4.3
        certifi==2018.8.24
        Django==1.11
        PyQt5==5.11.3
        PyQt5-sip==4.19.13
        pytz==2018.7
        PyYAML==3.13
        wincertstore==0.2

packages = pybo
    botok
    pyewts
    experta
    shortcut
    pkg_resources
    frozendict
    schema

# Other files and folders that should be installed
# default data in User/Documents/Dakje, backup in pkgs
files = icons/ > $INSTDIR\pkgs
        managers/ > $INSTDIR\pkgs
        data/ > $INSTDIR\pkgs
        data/words > $DOCUMENTS\Dakje
        data/levels > $DOCUMENTS\Dakje
        storage/ > $INSTDIR\pkgs
        web/ > $INSTDIR\pkgs
        widgets/ > $INSTDIR\pkgs
        # botok.yaml
        manage.py

exclude = */__pycache__/
