appdirs==1.4.3
Django>=1.11,<2
pybo==0.6.21
botok==0.7.5
PyQt5==5.14.2
PyQt5-sip>=4.19.13
PyYAML==3.13
experta
horology
shortcut
https://github.com/nuwainfo/python-wheels/raw/master/diff_match_patch_python-1.0.2-cp37-cp37m-macosx_10_9_x86_64.whl
idna==2.9
requests==2.23.0 
snakeviz==2.1.0 
tornado==6.0.4
